body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    color: #45a049;
}

.main {
    margin-top: 100px;
}
  .container {
    background-color: #fff;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 90%;
    margin: auto;
    margin-top: 30px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .input-group {
    position: relative;
    margin-bottom: 20px;
  }
  
  .icon {
    position: absolute;
    top: 12px;
    left: 10px;
    color: #aaa;
  }
  .fa-lock{
    cursor: pointer;
  }
  .fa-unlock{
    cursor: pointer;
  }
  .inputs {
    padding-left: 30px;
  }
  
  input {
    padding: 12px 40px 12px 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 70%;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .links {
    text-align: center;
    margin-top: 20px;
  }
  
  .links a {
    text-decoration: none;
    color: #4CAF50;
  }
  
  .links a:hover {
    text-decoration: underline;
  }
  
  .separator {
    margin: 0 10px;
  }
    
    
  .error{
    height:30px;
    width:15%;
    background-color:rgb(248, 137, 137);
    border-radius: 5px;
    color: black;
    padding: 5px 10px 0px 40px;
    margin-left: 620px;
}

  @media screen and (max-width: 480px) {
    .container {
      width: 100%;
    }
  }

